* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  width: 200px;
  height: 50px;
  display: block;
}

.clicker {
  width: 200px;
  height: 50px;
  display: block;
  color: white;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
